@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100dvh;
  overflow: hidden;
}

/* chrome */
html::-webkit-scrollbar {
  display: none;
}

/* firefox */
html {
  scrollbar-width: none;
}

@layer utilities {
  .container {
    @apply max-w-7xl lg:mx-auto p-5 md:px-10  w-full;
  }
}

.avatar.online:before {
  content: '';
  position: absolute;
  z-index: 10;
  display: block;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: #0084fe;
  outline-style: solid;
  outline-width: 2px;
  outline-color: var(--fallback-b1, oklch(var(--b1) / 1));
  width: 15%;
  height: 15%;
  top: 7%;
  right: 7%;
}

.radio {
  height: 1.2rem;
  width: 1.2rem;
}
