@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
}

/* chrome */
::-webkit-scrollbar {
  display: none;
}

/* firefox */
html,
div {
  scrollbar-width: none;
}

@layer utilities {
  .container {
    @apply max-w-7xl lg:mx-auto p-5 md:px-10  w-full;
  }

  .modal {
    @apply bg-clip-padding backdrop-filter backdrop-blur-md bg-green/10;
  }
  .modal-box {
    @apply bg-clip-padding backdrop-filter backdrop-blur-xl bg-green/10 bg-opacity-0;
  }

  .range {
    padding: 0;
    height: 0.2rem;
    width: 100%;
    --range-shdw: #ea580c;
  }

  .range::-webkit-slider-thumb {
    background-color: #ea580c;
    color: #ea580c;
  }
  .range::-moz-range-thumb {
    background-color: #ea580c;
    color: #ea580c;
  }

  .home {
    height: calc(100vh - 4.5rem);
    height: calc(100svh - 4.5rem);
  }

  .area {
    resize: none;
  }
}

.avatar.online:before {
  content: '';
  position: absolute;
  z-index: 10;
  display: block;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: #ff8400;
  outline-style: solid;
  outline-width: 2px;
  outline-color: var(--fallback-b1, oklch(var(--b1) / 1));
  width: 15%;
  height: 15%;
  top: 7%;
  right: 7%;
}

.radio {
  height: 1.2rem;
  width: 1.2rem;
}

.update-avatar.btn-circle {
  height: 6rem;
  width: 6rem;
}

.modal-img.modal-box {
  padding: 0.1rem;
}

/*  style for audio recorder */

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.8);
  }
}

.pulse {
  animation: pulse 1000ms infinite;
}

/* style for send or received messages */

.shake-msg {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
